@page "/databindingdemo2"
@inherits DataBindingDemoBase2

<h3>Two way Data Binding</h3>

<hr />

<div>
    <textarea @bind="Description" @bind:event="oninput" style="width:500px" />
</div>
<div>
    Count : @Description.Length
</div>


